/* Fondo oscuro */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Caja del modal */
.contenido {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    min-width: 300px;
    position: relative;
}

/* Botón cerrar */
#cerrar {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 20px;
    cursor: pointer;
}

/* Clase para ocultar */
.oculto {
    display: none;
}